<div>
  <h3>Adicionar Novo Produto</h3>
</div>
<form class="form-group" [formGroup]="contactForm" (NgForm)="addContact(contactForm.value)">
  <mat-form-field>
    <input matInput name="nome_contato" placeholder="Nome do Contato" formControlName="nome_contato">
  </mat-form-field>
  <mat-form-field>
    <textarea  matInput name="email_contato" placeholder="E-mail" formControlName="email_contato"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="telefone_contato" placeholder="Telefone" formControlName="telefone_contato">
  </mat-form-field>

  <button type="submit" [disabled]="!contactForm.valid" mat-button color="primary" >Adicionar</button>
</form>
